@{
    ViewData["Title"] = "Home Page";
}
<style>
   
</style>
<div id="carousel" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carousel" data-slide-to="0" class="active"></li>
    <li data-target="#carousel" data-slide-to="1"></li>
    <li data-target="#carousel" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" id="myCarousel1" src="~/img/img-1.jpg" alt="First slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" id="myCarousel2" src="~/img/img-2.jpg" alt="Second slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" id="myCarousel3" src="~/img/img-3.jpg" alt="Third slide">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only"></span>
  </a>
  <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only"></span>
  </a>
</div>


<div class="container text-center">
    <div>
        <h1 class="heading mt-5 mb-4"> HILLSDALE FLOORPLANS </h1>
    </div>
    <div class="row mt-5 mb-5">
      <div class="col-lg-4 p-3">
        <img src=~/img/Artisan.jpeg class="bd-placeholder-img rounded-circle image-cover image-top-left"  width="200" height="200"/>

        <h2 class="sub-heading mt-3">ARTISAN</h2>
        <p><strong>Elevation B | 5310 sq.ft.</strong> <br /> (+121 sq. ft. finished basement foyer) (10001)</p>
        <p><a class="btn bg-theme" href="#register" >View details »</a></p>
      </div>
      <div class="col-lg-4 p-3">
        <img src=~/img/cobblestone.jpeg class="bd-placeholder-img rounded-circle image-cover image-right"  width="200" height="200"/>

        <h2 class="sub-heading mt-3">COBBLESTONE</h2>
        <p><strong>Elevation B | 4763 sq.ft.</strong> <br /> (+114 sq. ft. finished basement foyer) (10001)</p>
        <p><a class="btn bg-theme" href="#register">View details »</a></p>
      </div>
      <div class="col-lg-4 p-3">
        <img src=~/img/countryside.jpeg class="bd-placeholder-img rounded-circle image-cover image-center"  width="200" height="200"/>

        <h2 class="sub-heading mt-3">COUNTRYSIDE</h2>
        <p><strong>Elevation A | 5415 sq.ft.</strong> <br /> (+350 sq. ft. finished basement foyer) (10002)</p>
        <p><a class="btn bg-theme" href="#register">View details »</a></p>
      </div>
    </div>

</div>
<div class="container-fluid row bg-theme">
    <div class="col-md-7 p-5">
        <h1 class="featurette-heading text-uppercase mt-3">The town of &nbsp;<span style="color: #b4572c; background-color: white;"> Hillsdale, </span> &nbsp; a beautiful natural setting to put down roots. </h1> <br />
        <p class="lead"><strong>HILLSDALE IS JUST TWO MINUTES FROM THE HWY 400 & HWY 93 JUNCTION AND IS MINUTES NORTH OF BARRIE.</strong>
            <br /><br /> hillsdale is just wide, open landscapes featureing a picturesque terrain faithfull to the community name, with rolling 
            hills flowing into lush dales and blue skies touching green treetops. <br /> 
            With its enviable location close to two major thoroughfares and just north of barrie, it was only 
            a matter of time before this hidden gem's brillant sparkle would capture the imagination.
        </p>
     </div>
     <div class="col-md-5">
        <img src="~/img/Hometown-Hillsdale-board.jpg" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto image-cover image-center hilltown-board-img"  />
     </div>
</div>

<div class="flex-container p-md-5 p-lg-5 p-sm-2">
    <span class="m-3 flex-basis-30">
        <img src="~/img/img-4.jpg" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto image-cover image-center" />
    </span>
    <span class="m-3 flex-basis-30">
        <img src="~/img/img-5.jpg" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto image-cover image-center" />
    </span>
    <div class="m-3 flex-basis-30">
        <img src="~/img/img-6.jpg" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto image-cover image-center" />
    </div>
</div>
<div>
    <img src="~/img/img-14.jpeg" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto image-cover image-center img-card"  />          
</div>
<div class="container-fluid">
    <div class="bg-image-double "></div>
    <div class="row">
        <div class="col-lg-8 col-sm-12 mt-5 row">
            <div class="col-1"></div>
            <div class="col-11 text-front mt-5" style="text-align: justify;">
                <h1 class="heading text-center"><span class="sub-heading"><strong>Welcome</strong></span> to Hometown life <br /> in <span class="sub-heading-yellow"><strong>Hillsdale.</strong></span></h1>
                <p class="lead">The quaint town of Hillsdale just north of Barrie is a uniquely special place where the way it was happens to be the way it is and the way it 
                    always will be. A closely knit community where kids can be kids again, neighbours become good friends and Hometown 
                    isn't just "your" town, it's "our" town</p> 
                <h2 class="heading text-center mt-5">Country-size homes on 50', 60' and 100' <br /> wide lots, amidst nature. </h2>
                <p class="lead ">Hometown Hillsdale is a new master-planned community of detached homes on lots of 50’, 60’ and 100’ wide with depths from 120 to 200 feet.
           Brought to you by three passionate builders of great communities, these home designs will have a look and
           personality as unique as the families that call this magical place home. From serene greenspaces to 
           meandering hiking trails, your home at Hometown Hillsdale is surrounded by an abundance of options for 
           outdoor activities. Whether you want to explore the scenic woodlots, take a walk by the pond, or bike 
           through trails, Hometown Hillsdale provides the perfect lifestyle,fully immersed in a 
           picturesque country setting.</p>
            </div>
            
        </div>      
        <div class="col-lg-4 col-sm-0"></div>  
    </div>
  
    <div class="bg-image-single "></div>  
    <div class="container position-relative">
        
        <div class="image-container">
            <div class="flex-basis-50">
                <img src="~/img/img-hometown1.jpeg" class="text-front bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto image-cover image-center" />  
            </div>
            <div class="flex-basis-50">
                <img src="~/img/img-hometown2.jpeg" class="text-front bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto image-cover image-center" />
            </div>
         </div>
         <h1 class="heading text-center position-relative mt-5 mb-5">Modern <span class="sub-heading"><strong>Country</strong></span> Living With <br /> Nature At Your <span class="sub-heading-yellow"><strong>Doopstep.</strong></span></h1>
         <div class="image-container">
            <div class="flex-basis-50">
                <img src="~/img/img-hometown3.jpeg" class="text-front bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto image-cover image-center" />  
            </div>
            <div class="flex-basis-50">
                <img src="~/img/img-hometown4.jpeg" class="text-front bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto image-cover image-center" />
            </div>
         </div>
    </div>

    <div>
        <img src="~/img/img-8.jpeg" class="position-relative bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto image-cover image-top-left img-card"  />          
    </div>

</div>
<section id="register">
<div class="container-fluid register text-center bg-resgister">
    <div class="row left-align">
        <div class="col-lg-6 col-md-12 col-sm-12 row ">
            <div class="col-1"></div>
            <div class="col-10 bg-white p-5" style="border-radius: 20px;">
                 <form method="get" asp-action="Index" asp-controller="Home" id="regiter">
                     <h2 class="heading text-center">Register For <span class="sub-heading"><strong>Inquiry</strong></span></h2>
                      <div class="form-group mt-4">
                        <label class="mb-2" for="Firstname">First Name</label>
                        <input type="text" class="form-control" id="firstname" placeholder="jack">
                      </div>
                      <div class="form-group mt-3">
                        <label class="mb-2" for="Lastname">Last Name</label>
                        <input type="text" class="form-control" id="lastname" placeholder="sparrow">
                      </div>
                      <div class="form-group mt-3">
                        <label class="mb-2" for="email">Email</label>
                        <input type="email" class="form-control" id="email" placeholder="jack@example.com">
                      </div>
                      <div class="form-group mt-3">
                        <label class="mb-2" for="phone">Phone</label>
                        <input type="tel" class="form-control" id="phone" placeholder="(431) 8854-697">
                      </div>
                      <div class="form-group mt-3">
                        <label class="mb-2" for="phone">Phone</label>
                        <input type="tel" class="form-control" id="phone" placeholder="(431) 8854-697">
                      </div>
                      <div class="form-group mt-3 mb-3">
                        <label class="mb-2" for="broker">Are you a Broker</label>
                        <select class="form-control" id="broker">
                          <option>Yes</option>
                          <option>No</option>
                        </select>
                      </div>
                      <div class="form-group mt-2">
                          <span class="text-black text-lowercase">BY CHECKING THE BOX, YOU AGREE TO RECEIVE COMMUNICATIONS FROM HOMETOWN HILLSDALE*</span>
                        <div>
                            <label>
                                <input type="checkbox" name="agree" value="I AGREE">I AGREE
                                </label>
                        </div>
                      </div>
                      <button class="btn bg-theme mt-3" type="submit">Send</button>

                 </form>
            </div>
           <div class="col-1"></div>
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12 content-align" >
            <div class="text-center">      
                <img class="image-width mt-5" src="~/img/hometown-hillsdale-white.png">
            </div>
            <div class="row">
                <div class="col-2"></div>
                <div class="details-text col-8 mt-5" style="padding-left: 30px;">
                <p>
                    <span><strong>Presentation Gallery:<br></strong>1155 North Service Rd. W., Unit 6, Oakville</span>
                </p>
                <p><span>Monday – Thursday: 12pm – 7pm</span><br>
                    <span>Friday Closed</span><br>
                    <span>Weekends &amp; Holidays: 12pm – 6pm</span>
                </p>
                <p><span>Tel: 431-469-1008</span><br>
                    <span>Fax 431-469-1048</span>
                </p>
                <p><span>Email:&nbsp;
                    <a class="details-text" href="mailto:hometownhillsdale@gmail.com">hometownhillsdale@gmail.com</a>
                    </span>
                </p>
                
                <div class="col-2"></div>
             </div>
            </div>
        </div>
    </div>
</div>
</section>
<script type="text/javascript">
    $('.carousel').carousel({
  interval: 2000
});
</script>